/* ------ background page ------ */
#page_background {
  height: 180%;
}

@media (min-width: 576px) { 
  #page_background {
    height: 150%;
  }

}

@media (min-width: 768px) { 
  #page_background {
    height: 130%;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
  #page_background {
    height: 110%;
  }

}