/* ------ projects page ------ */
.center_div {
  height: 80vh;
  margin-top: 5vh;
}

.projects_page p {
	font-size: 1.5em;
	font-weight: 100;

}

.projects_page h3 {
	font-size: 2.5em;
	font-weight: 300;
	color: #6b6b6b;
}

.projects_page h3:hover {
	font-weight: 500;
}

.projects_page #wrapper {
	padding-left: 30px;
}