body {
  font-family: 'Roboto', sans-serif;
  color: #999999;
}

.fullscreen {
  height: 100%;
/*  border: 3px blue solid;*/
}

body > #root > div {
  height: 100vh;
}

h1 {
  font-size: 80px;
  color: #6b6b6b;
  font-family: 'Pompiere', cursive;
}


a:link {
  font-weight: 200;
  text-decoration: none;
  color: #999999;

}

a:hover {
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
  color: #999999;
}

a:visited {
  font-weight: 200;
  text-decoration: none;
  color: #999999;
}

/* ------ home page ------ */
.logoDiv {
  margin-top: 30vh;
  text-align: center;
}

#page_home {
  background-color: #F5F5F5;
}

#page_contact {
  background-color: #F5F5F5;
}

/* ------ background page: background panel ------ */
.panelDiv {
  height: 80vh;
  vertical-align: middle;
  margin-bottom: 5vh;
  margin-top: 8vh;
}

.panelDiv h2 {
  font-size: 18px;
  font-weight: 500;
  color: #999999;
}

.panelDiv h3 {
  margin-top: 6px;
  font-size: 30px;
  font-weight: 300;
  color: #6b6b6b;
}

.panelDiv h4 {
  font-size: 16px;
  font-weight: 100;
}

.panelDiv h5 {
  font-weight: 200;
  font-size: 15px;
  margin-top: 40px;
}

.panelDiv li {
  font-size: 15px;
}

/* ------ background page: about panel ------ */
.aboutDiv .item {
  margin-bottom: 30px;
}
.aboutDiv h2 {
/*  font-size: 20px;
  font-weight: 500;*/
  margin: 0;
  margin-bottom: 6px;
}

.aboutDiv h3 {
/*  font-size: 17px;
  font-weight: 300;*/
  margin: 0;
}

.aboutDiv h4 {
/*  font-size: 15px;
  font-weight: 300;*/
  margin: 0;
}

.aboutDiv h5 {
/*  font-size: 13px;*/
  margin: 0;
}

.aboutDiv h6 {
  font-size: 16px;
  font-weight: 300;
  color: #828282;
}

.aboutDiv li {
/*  font-size: 14px;*/
  margin: 0;
}

/* ------ background page: map ------ */

.mapDiv {
  height: 80vh;
  border: grey 3px solid;
  padding: 0;
  margin-left: 5vh;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

/* ------ projects page ------ */
.center_div {
  height: 80vh;
  margin-top: 5vh;
}

/* ------ contact page ------ */
#page_contact {
  text-align: center;
}

.contactDiv {
  text-align: center;
  margin-top: 30vh;
}